/* *************Оптимизация************** */
html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
a {
	color: inherit;
	text-decoration: none;
}
input, textarea, select {
  background-color: transparent;
  border: none;
  box-shadow: none;
  resize: none;
}
img {
	max-width: 100%;
}
body {
  min-width: 320px;
	font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: #fff;
}
h1, h2, h3, p, ul {
  margin: 0;
}
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
:root {
  --gap: #FF9900;
  --gap2: #FFB84D;
  --gap3: #E1670E;
  --gap4: #666;
  --gap5: #000;
  --gap6: 50px;
}
.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.btn {
  padding: 25px 39px;
  font-size: 23px;
  font-weight: 700;
  line-height: 28px;
  color: #fff;
  background: var(--gap);
  border-radius: 16px;
}
.btn:focus {
  background-color: var(--gap2);
  outline: 0;
  transition: background-color 0.3s ease-in-out;
}
.btn:hover {
  background-color: var(--gap2);
  transition: background-color 0.3s ease-in-out;
}
.btn:active {
  background-color: var(--gap3);
  transition: background-color 0.3s ease-in-out;
}
.flex {
  display: flex;
}
.title-h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
}
.title-h3 {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}
/* ************************************** */
.container {
  margin: 0 auto;
  max-width: 1770px;
  border: 1px solid pink;
}
.header {
  margin-bottom: 50px;
  background: #fff;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 32px 32px;
  }
.header__wrapper {
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
}
.header__logo {
  margin-right: 288px;
}
.header__burger {
  display: none;
  position: relative;
  width: 30px;
  height: 23px;
  border: none;
  z-index: 2000;
}
.burger__line {
  position: absolute;
  left: 0;
  width: 30px;
  height: 3px;
  background-color: #000;
  transition: transform .3s, opacity .3s, background-color .3s;
}
.burger__line:nth-child(1) {
  transform: translateY(-15px);
}
.burger__line:nth-child(3) {
  transform: translateY(5px);
}
.burger__line:nth-child(2) {
  top: 7px;
}
.header.open .header__burger span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}
.header.open .header__burger span:nth-child(2) {
  opacity: 0;
}
.header.open .header__burger span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}
.nav__link:focus-visible {
  outline: 0;
  outline-offset: 3px;
  outline: 1px solid var(--gap);
  transition: outline 0.3s ease-in-out;
}
.nav__link:hover:not(:focus-visible) {
  border-bottom: 1px solid var(--gap);
  transition: border-bottom 0.3s ease-in-out;
}
.nav__link:active:not(:focus-visible) {
  color: var(--gap3);
  border-bottom: 1px solid var(--gap3);
  transition: border-bottom 0.3s ease-in-out, color 0.3s ease-in-out;
}
.nav__item {
  font-size: 18px;
  font-weight: 600;
}
.nav__item:not(:last-child) {
  margin-right: 85px;
}
.header__img {
  position: relative;
  max-width: 22px;
  max-height: 22px;
  z-index: 3500;
  transition: opacity .3s ease-in-out;
}
.header__img-btn{
  outline: 0;
}
.header__img-btn:focus-visible svg {
  outline: 0;
  outline-offset: 3px;
  outline: 1px solid var(--gap);
  transition: outline 0.3s ease-in-out;
}
.header__img-btn:hover svg path:not(:focus-visible) {
  stroke: var(--gap);
  transition: stroke 0.3s ease-in-out;
}
.header__img-btn:active svg path:not(:focus-visible) {
  stroke: var(--gap);
  transition: stroke 0.3s ease-in-out;
}
.header__search {
  position: relative
}
.search__wrap {
  display: none;
  position: absolute;
  top: -50%;
  right: -190%;
  padding-left: 30px;
  width: 539px;
  height: 60px;
  border-radius: 24px;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  z-index: 2700;
}
.search__input {
  position: relative;
  top: 18%;
  width: 412px;
  border-bottom: 1px solid #CACACA;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #CACACA;
}
.search__btn-close {
  position: relative;
  top: 18%;
  left: 12%;
}
.hero__wrap {
  position: relative;
  z-index: 1;
  padding: 100px 0 100px 80px;
  flex-direction: column;
  align-items: flex-start;
  /* background: url(../img/hero.png) no-repeat center center/cover; */
  border-radius: 32px;
}
.slide {
  background: url(../img/hero.png) no-repeat center center/cover;
}
.slide2 {
  background: url(../img/hero2.png) no-repeat center center/cover;
}
.slide3 {
  background: url(../img/hero3.png) no-repeat center center/cover;
}
.swiper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.swiper-slide {
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper-pagination {
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: center;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 20px;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 30px;
}
.swiper-pagination-bullet {
	width: 15px;
	height: 15px;
}
.swiper-pagination-bullet-active {
	background-color: #fff;
}
.title-h1 {
  margin-bottom: 24px;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 0.015em;
  line-height: 85px;
  color: #fff;
}
.hero__subtitle {
  margin-bottom: 90px;
  max-width: 50%;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
}
.about-us {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: -9px;
}
.about-us__h2 {
  margin-bottom: 20px;
}
.about-us__text {
  margin-bottom: 50px;
  max-width: 1232px;
  line-height: 32px;
}
.about-us__visual {
  justify-content: space-between;
  margin-bottom: 50px;
}
.visual__img {
  margin-right: 32px;
  min-width: 49%;
  background: url(../img/about_us.png) no-repeat center center/cover;
  border-radius: 32px;
}
.visual__img-block {
  display: none;
}
.visual__wrapper {
  flex-direction: column;
  flex-basis: 50%;
}
.visual__block {
  padding: 65px 87px 65px 60px;
  min-width: 49%;
  border-radius: 32px;
  border: 1px solid #CACACA;
}
.block__wrap {
  width: 65%;
}
.block__text {
  line-height: 32px;
}
.block__first {
  margin-right: 53px;
}
.block__second {
  margin-right: 53px;
}
.visual__block:not(:nth-child(2n)) {
  margin-bottom: 26px;
}
.work {
  margin-bottom: 108px;
}
.work__h2 {
  margin-bottom: 53px;
}
.list__step {
  font-size: 18px;
  line-height: 22px;
}
.list__step:not(:last-child) {
  margin-right: 85px;
}
.list__step-link:focus-visible {
  outline: 0;
  outline: 1px solid var(--gap);
  outline-offset: 3px;
  transition: outline 0.3s ease-in-out;
}
.list__step-link:hover:not(:focus-visible) {
  color: var(--gap);
  transition: color 0.3s ease-in-out;
}
.list__step-link:active:not(:focus-visible) {
  color: var(--gap3);
  transition: color 0.3s ease-in-out;
}
.work__wrap {
  justify-content: space-between;
}
.work__wrap-text {
  min-width: 49%;
}
.work__img {
  min-width: 49%;
  min-height: 460px;
  background: url(../img/consultation.png) no-repeat center center/cover;
  border-radius: 32px;
}
.work__img2 {
  min-width: 49%;
  min-height: 460px;
  background: url(../img/consultation2.png) no-repeat center center/cover;
  border-radius: 32px;
}
.work__img3 {
  min-width: 49%;
  min-height: 460px;
  background: url(../img/consultation3.png) no-repeat center center/cover;
  border-radius: 32px;
}
.work__img4 {
  min-width: 49%;
  min-height: 460px;
  background: url(../img/consultation4.png) no-repeat center center/cover;
  border-radius: 32px;
}
.tabs-nav__btn--active {
	color: #E1670E;
}
.tabs-item {
	display: none;
}
.tabs-item--active {
	display: flex;
}
.work__list {
  margin-bottom: 49px;
}
.work__block {
  margin-bottom: 18px;
  max-width: 758px;
}
.work__block .block__text {
  max-width: 100%;
}
.block__text-invisible {
  display: none;
}
.work__btn {
  padding: 21px 38px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: #fff;
}
.work__btn:not(:last-child) {
  margin-right: 28px;
}
.btn-empty {
  font-weight: 400;
  color: var(--gap5);
  outline: 1px solid var(--gap5);
  background-color: transparent;
}
.btn-empty:focus {
  color: #fff;
  background-color: var(--gap4);
  outline: 0;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.btn-empty:hover {
  color: #fff;
  background-color: var(--gap4);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.btn-empty:active {
  color: #fff;
  background-color: var(--gap5);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.questions__h2 {
  margin-bottom: 32px;
}
.questions__list {
  margin-bottom: 97px;
}
.questions__list .list__item .ac-trigger {
  position: relative;
  display: flex;
  padding: 30px 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  border-bottom: 1px solid #CACACA;
  outline: 0;
}
.questions__list .list__item:first-child{
  border-top: 1px solid #CACACA;
}
.questions__list .list__link {
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  outline: 0;
}
.questions__list .list__link::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: 0;
  color: var(--gap);
  outline: 1px solid var(--gap);
  outline-offset: 2px;
  opacity: 0;
}
.questions__list .list__link:focus-visible::before {
  opacity: 1;
}
.questions__list .list__link:focus-visible {
  color: var(--gap);
  transition: color 0.3s ease-in-out;
}
.questions__list .list__link:focus-visible svg path {
  fill: #fff;
  transition: fill 0.3s ease-in-out;
}
.questions__list .list__link:hover svg path {
  fill: #fff;
  transition: fill 0.3s ease-in-out;
}
.questions__list .list__link:focus-visible svg ellipse {
  fill: var(--gap);
  transition: fill 0.3s ease-in-out;
}
.questions__list .list__link:hover svg ellipse {
  fill: var(--gap);
  transition: fill 0.3s ease-in-out;
}
.questions__list .list__link:hover {
  outline: 1px solid var(--gap);
  outline-offset: 2px;
  color: var(--gap);
  transition: outline 0.3s ease-in-out, color 0.3s ease-in-out;
}
.questions__list .list__link:hover::before {
  opacity: 0;
}
.questions__list .list__link:active svg {
  transform: rotate(45deg);
  transition: rotate 0.3s ease-in-out;
}
.questions__list .list__link:active svg path {
  fill: #000;
  transition: fill 0.3s ease-in-out;
}
.questions__list .list__link:active svg ellipse {
  fill: #CACACA;
  transition: fill 0.3s ease-in-out;
}
.questions__list .list__link:active::before {
  opacity: 0;
}
.questions__list .list__link:active {
  color: #000;
  transition: color 0.3s ease-in-out;
}
.ac {
  margin-top: -1px;
}
.ac .ac-trigger::after {
  display: none;
}
.ac-panel {
  line-height: 32px;
	overflow: hidden;
	visibility: hidden;
	transition-property: height, visibility;
	transition-timing-function: ease;
}
.ac-panel-span {
  margin-bottom: 32px;
}
.accordion--active .ac-panel {
	visibility: visible;
}
.list {
	list-style: none;
	padding: 0;
}
.ac-header {
	margin: 0;
}
.footer {
  background: #000;
  color: #CACACA;
}
.footer__wrap {
  justify-content: space-between;
  padding-top: 52px;
  padding-bottom: 50px;
}
.footer__h2 {
  margin-bottom: 25px;
  color: #CACACA;
}
.footer__item {
  margin: 0;
}
.footer__wrap-nav {
  margin-right: 117px;
}
.footer__nav {
  /* max-width: 252px; */
  margin-bottom: 90px;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
}
.footer__logo {
  display: block;
  margin-bottom: 14px;
}
.social__list {
  padding: 0;
}
.nav__item:last-child {
  margin-right: 0;
}
.social__item {
  margin-right: 25px;
}
.footer__wrap-form {
  /* margin-right: 236px; */
  max-width: 570px;
}
.footer__form {
  flex-direction: column;
  align-items: center;
}
.form__input-name {
  margin-bottom: 25px;
  padding: 14px 24px;
  min-width: 570px;
  min-height: 60px;
  background: #414141;
  border-radius: 16px;
}
.form__input-email {
  margin-bottom: 25px;
  padding: 14px 24px;
  min-width: 570px;
  min-height: 60px;
  background: #414141;
  border-radius: 16px;
}
.form__textarea {
  margin-bottom: 33px;
  padding: 19px 24px;
  min-width: 570px;
  min-height: 150px;
  background: #414141;
  border-radius: 16px;
}
.form__btn {
  padding: 19px 52px;
  font-size: 16px;
  line-height: 20px;
}
.footer__wrap-text {
  padding-top: 85px;
  max-width: 363px;
  line-height: 32px;
}
.form__input-name:focus,
.form__input-name:hover,
.form__input-name:active {
  background-color: var(--gap4);
  outline: 0;
  transition: background-color 0.3s ease-in-out;
}
.form__input-email:focus,
.form__input-email:hover,
.form__input-email:active {
  background-color: var(--gap4);
  outline: 0;
  transition: background-color 0.3s ease-in-out;
}
.form__textarea:focus,
.form__textarea:hover,
.form__textarea:active {
  background-color: var(--gap4);
  outline: 0;
  transition: background-color 0.3s ease-in-out;
}
.footer__item .nav__link:hover:not(:focus-visible) {
  border: none;
  color: var(--gap);
  transition: color 0.3s ease-in-out;
}
.footer__item .nav__link:active:not(:focus-visible) {
  border: none;
  color: var(--gap3);
  transition: color 0.3s ease-in-out;
}
.social__link svg {
  fill: var(--gap4);
  transition: fill 0.3s ease-in-out;
}
.social__link:focus-visible {
  outline: 0;
}
.social__link:focus-visible svg {
  outline-offset: 10px;
  outline: 1px solid var(--gap);
  transition: outline 0.3s ease-in-out;
}
.social__link:hover svg path:not(:focus-visible) {
  fill: var(--gap);
  transition: fill 0.3s ease-in-out;
}
.social__link:active svg path:not(:focus-visible) {
  fill: var(--gap3);
  transition: fill 0.3s ease-in-out;
}


